{% load static %}
{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'about' as about_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'products' as products %}

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>



     {% include 'base.html' %}


<div class='sidebarBody'>
    <!--<img src="{% static 'img/logo1.png' %}" height="100" width="120" align="left"/>-->
   <div>
        <div>
            <img style="position:absolute;" src="{% static 'img/CONTACT.png' %}" height="600" width="100%" />
        </div>
       <div style="background: #212529;
        opacity:0.5;">
           <h1 class="text-onIMG" >Have a question?</h1>

       </div>
   </div>
</div>

<div class="container" style="height:500px">
    <div class="col-md-3"></div>
    <div class="col-md-6 center" style="margin-top:-10%;">
        <div class="input-from-box">
           <div class="inputs">
                <input type="text"  placeholder="Name ...."></input></br>
            <input type="email" placeholder="Email ...."></input></br>
            <input type="text" placeholder="Subject ...."></input></br>
            <textarea placeholder="Message ...." style="width:100%; height:150px;   "></textarea>
              <span class="button-position">
                   <span class="button-submit">Submit</span>
              </span>
           </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
      <!--<hr>-->


      {% if request.user.is_authenticated %}

      <div>
    {{ in }}
    {% endif %}
    </div>



    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Prizren TechHeroes</p>
</footer>
</body>
</html>


