<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class='container'>
    <div class='col-sm-250'>
    <div class='panel panel-default'>
    <div class='panel-heading'> <h4>Register</h4> </div>
    <div class='panel-body'>

    <form method="POST">
    {% csrf_token %}

    {{ form }}

    <input type="submit" value="Register"></input>

</form>
    </div>
    </div>
    </div>
</body>
</html>