{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Base Template </title>
    <link rel="stylesheet" href='{% static "css/main.css" %}' />
    {% include 'base/css.html' %}
    {% block base_head %} {% endblock %}

</head>
<body>
     {% include 'navbar.html' %}

     {% block content %}

 {% endblock %}
 {% include 'base/js.html' %}
</body>
</html>