{% extends "base.html" %}



{% block content %}
<div class="container">
   <div class="col-md-2"></div>
     <div class="col-md-8" style="margin-top:5%;box-shadow: 5px 7px 15px rgba(24, 128, 202, 0.2);">
        <p style="font-size:30px; text-align:center;">{{ object.title }} <br/></p>
         <p style="font-size:20px;text-align:center;">{{ object.description }} <br/></p>
        {% if object.image %}
           <p style=" text-align:center;  "> <img src='{{ object.image.url }}' class='img-fluid' /></p>
         <span class="button-position-center">
             <span class="button-submit" ><a style="color:white;" href="{% url 'take' %}">Take</a></span>

         </span>
        {% endif %}
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}