{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'about' as about_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'products' as products %}
{% url 'donate' as donate %}
{% url 'donatemoney' as donatemoney %}

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
     {% include 'base.html' %}

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-6 text-left" style="height:735px;">
      <div style="margin-top:5%;">
          <h1>DonateForm</h1>
        <p>
            <form method="GET" action="//submit.form" onSubmit="return validateForm();">
<div style="width: 400px;">
</div>
<div style="padding-bottom: 18px;font-size : 24px;">Church Donation</div>
<div style="display: flex; padding-bottom: 18px;width : 550px;">
<div style=" margin-left : 0; margin-right : 1%; width : 49%;">First name<br/>
<input type="text" id="data_2" name="data_2" style="width: 100%;" class="form-control"/>
</div>
<div style=" margin-left : 1%; margin-right : 0; width : 49%;">Last name<br/>
<input type="text" id="data_3" name="data_3" style="width: 100%;" class="form-control"/>
</div>
</div><div style="padding-bottom: 18px;">Email<br/>
<input type="text" id="data_4" name="data_4" style="width : 550px;" class="form-control"/>
</div>
<div style="padding-bottom: 18px;">Donation Amount<span style="color: red;"> *</span><br/>
<span><input type="radio" id="data_5_0" name="data_5" value="$50"/> $50</span><br/>
<span><input type="radio" id="data_5_1" name="data_5" value="$100"/> $100</span><br/>
<span><input type="radio" id="data_5_2" name="data_5" value="$250"/> $250</span><br/>
<span><input type="radio" id="data_5_3" name="data_5" value="$500"/> $500</span><br/>
</div>
<div style="padding-bottom: 18px;">Full Address<br/>
<textarea id="data_6" false name="data_6" style="width : 550px;" rows="3" class="form-control"></textarea>
</div>
<div style="padding-bottom: 18px;"><input name="skip_Submit" value="Submit" type="submit"/></div>
<!--<div>-->
<!--<div style="float:right"><a href="https://www.100forms.com" id="lnk100" title="form to email">form to email</a></div>-->

<!--</div>-->
</form>


        </p>
      </div>
    </div>
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
      <!--<hr>-->
      <!--<h3>Test</h3>-->
      <!--<p>Lorem ipsum...</p>-->

      {% if request.user.is_authenticated %}

      <div>
    {{ in }}
    {% endif %}
    </div>


    <!--<div class="col-sm-2 sidenav">-->
      <!--<div class="well">-->

      <!--</div>-->
    <!--</div>-->
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Prizren TechHeroes</p>
</footer>

</body>
</html>
