{% load static %}
{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'about' as about_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'products' as products %}
{% url 'donate' as donate %}
{% url 'donatemoney' as donatemoney %}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
       {% include 'base.html' %}
<div style="height:735px;">
    <div class='sidebarBody'>
    <!--<img src="{% static 'img/logo1.png' %}" height="100" width="120" align="left"/>-->
    <p style="text-align:center;"><img src="{% static 'img/Donate1.png' %}" /></p>

</div>



        <h1 align="center">DonateForm</h1>

   <center class="container">
       <p style="margin-top:5%;margin-bottom:5%;">
        <span class="button-submit" ><a style="color:white;" href="{% url 'donatemoney' %}">Donate Money</a></span>
        <span class="button-submit" ><a style="color:white;" href="{% url 'donateclothes' %}">Donate Clothes</a></span>
      </p>
      <p>If you're planning to make a charitable donation this holiday season, make sure you know more about the group than just the name it goes by.

Choosing charities by name alone is a mistake some donors make, and their money sometimes ends up going to less-than-worthy groups. Those organizations perhaps spend too much on administrative costs or are outright scammers, says Bennett Weiner, chief operating officer of the charity watchdog BBB Wise Giving Alliance. The problem is particularly important now because about 20 percent of giving occurs during December, he says.

The best course of action before giving is to check out a charity with Weiner's group and the two other major charity watchdogs, Charity Navigator and Charity Watch.</p>
      </center>
      <hr>


      </div>
</div>



      {% if request.user.is_authenticated %}

      <div>
    {{ in }}
    {% endif %}
    </div>



    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Prizren TechHeroes</p>
</footer>

</body>
</html>
