{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'about' as about_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'products' as products %}
{% url 'donate' as donate %}
{% url 'donatemoney' as donatemoney %}

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
     {% include 'base.html' %}

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 ">
<center>
    </div>
    <div class="col-sm-8 text-left">
      <h1 style="text-align:center;">DonateForm</h1>




   <div style="padding:0;">
       <center> <script src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.min.js"></script>
<script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.10559" type="text/javascript"></script>
<script type="text/javascript"> JotForm.init(function(){ setTimeout(function() { $('input_6').hint('ex: myname@example.com'); }, 20); /*INIT-END*/ }); JotForm.prepareCalculationsOnTheFly([null,{"name":"clickTo","qid":"1","text":"Form for Item Donation","type":"control_head"},{"name":"submit","qid":"2","text":"Submit","type":"control_button"},{"name":"fullName3","qid":"3","text":"Full Name","type":"control_fullname"},{"name":"address4","qid":"4","text":"Address","type":"control_address"},{"name":"phoneNumber5","qid":"5","text":"Phone Number","type":"control_phone"},{"name":"email6","qid":"6","text":"E-mail","type":"control_email"},{"name":"pleaseTell","qid":"7","text":"Please tell us what you would like to donate:","type":"control_textarea"},{"name":"doubleclickTo","qid":"8","text":"Remember to check your email for responses!","type":"control_text"}]); setTimeout(function() {
JotForm.paymentExtrasOnTheFly([null,{"name":"clickTo","qid":"1","text":"Form for Item Donation","type":"control_head"},{"name":"submit","qid":"2","text":"Submit","type":"control_button"},{"name":"fullName3","qid":"3","text":"Full Name","type":"control_fullname"},{"name":"address4","qid":"4","text":"Address","type":"control_address"},{"name":"phoneNumber5","qid":"5","text":"Phone Number","type":"control_phone"},{"name":"email6","qid":"6","text":"E-mail","type":"control_email"},{"name":"pleaseTell","qid":"7","text":"Please tell us what you would like to donate:","type":"control_textarea"},{"name":"doubleclickTo","qid":"8","text":"Remember to check your email for responses!","type":"control_text"}]);}, 20); </script>
<link href="https://cdn.jotfor.ms/static/formCss.css?3.3.10559" rel="stylesheet" type="text/css" />
<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.10559" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.10559" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?themeRevisionID=59fb4852cf3bfe589c6c6f21"/>
<style type="text/css"> .form-label-left{ width:150px; } .form-line{ padding-top:12px; padding-bottom:12px; } .form-label-right{ width:150px; } .form-all{ width:690px; color:#555 !important; font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif; font-size:14px; }
</style> <style type="text/css" id="form-designer-style"> /* Injected CSS Code */
/*PREFERENCES STYLE*/ .form-all { font-family: Lucida Grande, sans-serif; } .form-all .qq-upload-button, .form-all .form-submit-button, .form-all .form-submit-reset, .form-all .form-submit-print { font-family: Lucida Grande, sans-serif; } .form-all .form-pagebreak-back-container, .form-all .form-pagebreak-next-container { font-family: Lucida Grande, sans-serif; } .form-header-group { font-family: Lucida Grande, sans-serif; } .form-label { font-family: Lucida Grande, sans-serif; } .form-label.form-label-auto { display: inline-block; float: left; text-align: left; } .form-line { margin-top: 12px; margin-bottom: 12px; } .form-all { width: 690px; } .form-label-left, .form-label-right, .form-label-left.form-label-auto, .form-label-right.form-label-auto { width: 150px; } .form-all { font-size: 14px } .form-all .qq-upload-button, .form-all .qq-upload-button, .form-all .form-submit-button, .form-all .form-submit-reset, .form-all .form-submit-print { font-size: 14px } .form-all .form-pagebreak-back-container, .form-all .form-pagebreak-next-container { font-size: 14px } .supernova .form-all, .form-all { background-color: ; border: 1px solid transparent; } .form-all { color: #555; } .form-header-group .form-header { color: #555; } .form-header-group .form-subHeader { color: #555; } .form-label-top, .form-label-left, .form-label-right, .form-html, .form-checkbox-item label, .form-radio-item label { color: #555; } .form-sub-label { color: #6f6f6f; } .supernova { background-color: undefined; } .supernova body { background: transparent; } .form-textbox, .form-textarea, .form-radio-other-input, .form-checkbox-other-input, .form-captcha input, .form-spinner input { background-color: undefined; } .supernova { background-image: none; } #stage { background-image: none; } .form-all { background-image: none; } .ie-8 .form-all:before { display: none; } .ie-8 { margin-top: auto; margin-top: initial; } /*PREFERENCES STYLE*//*__INSPECT_SEPERATOR__*/ /* Injected CSS Code */
</style> <form class="jotform-form" action="https://submit.jotform.co/submit/90847105478868/" method="post" name="form_90847105478868" id="90847105478868" accept-charset="utf-8"> <input type="hidden" name="formID" value="90847105478868" /> <div class="form-all"> <ul class="form-section page-section"> <li id="cid_1" class="form-input-wide" data-type="control_head"> <div class="form-header-group "> <div class="header-text httal htvam"> <h2 id="header_1" class="form-header" data-component="header">  </h2> <div id="subHeader_1" class="form-subHeader"> </div> </div> </div> </li> <li class="form-line jf-required" data-type="control_fullname" id="id_3"> <label class="form-label form-label-top form-label-auto" id="label_3" for="first_3"> Full Name <span class="form-required"> * </span> </label> <div id="cid_3" class="form-input-wide jf-required"> <div data-wrapper-react="true"> <span class="form-sub-label-container" style="vertical-align:top"> <input type="text" id="first_3" name="q3_fullName3[first]" class="form-textbox validate[required]" size="10" value="" data-component="first" required="" /> <label class="form-sub-label" for="first_3" id="sublabel_first" style="min-height:13px"> First Name </label> </span> <span class="form-sub-label-container" style="vertical-align:top"> <input type="text" id="last_3" name="q3_fullName3[last]" class="form-textbox validate[required]" size="15" value="" data-component="last" required="" /> <label class="form-sub-label" for="last_3" id="sublabel_last" style="min-height:13px"> Last Name </label> </span> </div> </div> </li> <li class="form-line jf-required" data-type="control_address" id="id_4"> <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4_addr_line1"> Address <span class="form-required"> * </span> </label> <div id="cid_4" class="form-input-wide jf-required"> <table summary="" class="form-address-table" border="0" cellPadding="0" cellSpacing="0"> <tbody> <tr> <td colSpan="2"> <span class="form-sub-label-container" style="vertical-align:top"> <input type="text" id="input_4_addr_line1" name="q4_address4[addr_line1]" class="form-textbox validate[required] form-address-line" value="" data-component="address_line_1" required="" /> <label class="form-sub-label" for="input_4_addr_line1" id="sublabel_4_addr_line1" style="min-height:13px"> Street Address </label> </span> </td> </tr> <tr> <td colSpan="2"> <span class="form-sub-label-container" style="vertical-align:top"> <input type="text" id="input_4_addr_line2" name="q4_address4[addr_line2]" class="form-textbox form-address-line" size="46" value="" data-component="address_line_2" required="" /> <label class="form-sub-label" for="input_4_addr_line2" id="sublabel_4_addr_line2" style="min-height:13px"> Street Address Line 2 </label> </span> </td> </tr> <tr> <td width="50%"> <span class="form-sub-label-container" style="vertical-align:top"> <input type="text" id="input_4_city" name="q4_address4[city]" class="form-textbox validate[required] form-address-city" size="21" value="" data-component="city" required="" /> <label class="form-sub-label" for="input_4_city" id="sublabel_4_city" style="min-height:13px"> City </label> </span> </td> <td> <span class="form-sub-label-container" style="vertical-align:top"> <input type="text" id="input_4_state" name="q4_address4[state]" class="form-textbox validate[required] form-address-state" size="22" value="" data-component="state" required="" /> <label class="form-sub-label" for="input_4_state" id="sublabel_4_state" style="min-height:13px"> State / Province </label> </span> </td> </tr> <tr> <td width="50%"> <span class="form-sub-label-container" style="vertical-align:top"> <input type="text" id="input_4_postal" name="q4_address4[postal]" class="form-textbox form-address-postal" size="10" value="" data-component="zip" required="" /> <label class="form-sub-label" for="input_4_postal" id="sublabel_4_postal" style="min-height:13px"> Postal / Zip Code </label> </span> </td> <td> <span class="form-sub-label-container" style="vertical-align:top"> <select class="form-dropdown validate[required] form-address-country noTranslate" name="q4_address4[country]" id="input_4_country" data-component="country" required=""> <option value=""> Please Select </option> <option value="United States"> United States </option> <option value="Afghanistan"> Afghanistan </option> <option value="Albania"> Albania </option> <option value="Algeria"> Algeria </option> <option value="American Samoa"> American Samoa </option> <option value="Andorra"> Andorra </option> <option value="Angola"> Angola </option> <option value="Anguilla"> Anguilla </option> <option value="Antigua and Barbuda"> Antigua and Barbuda </option> <option value="Argentina"> Argentina </option> <option value="Armenia"> Armenia </option> <option value="Aruba"> Aruba </option> <option value="Australia"> Australia </option> <option value="Austria"> Austria </option> <option value="Azerbaijan"> Azerbaijan </option> <option value="The Bahamas"> The Bahamas </option> <option value="Bahrain"> Bahrain </option> <option value="Bangladesh"> Bangladesh </option> <option value="Barbados"> Barbados </option> <option value="Belarus"> Belarus </option> <option value="Belgium"> Belgium </option> <option value="Belize"> Belize </option> <option value="Benin"> Benin </option> <option value="Bermuda"> Bermuda </option> <option value="Bhutan"> Bhutan </option> <option value="Bolivia"> Bolivia </option> <option value="Bosnia and Herzegovina"> Bosnia and Herzegovina </option> <option value="Botswana"> Botswana </option> <option value="Brazil"> Brazil </option> <option value="Brunei"> Brunei </option> <option value="Bulgaria"> Bulgaria </option> <option value="Burkina Faso"> Burkina Faso </option> <option value="Burundi"> Burundi </option> <option value="Cambodia"> Cambodia </option> <option value="Cameroon"> Cameroon </option> <option value="Canada"> Canada </option> <option value="Cape Verde"> Cape Verde </option> <option value="Cayman Islands"> Cayman Islands </option> <option value="Central African Republic"> Central African Republic </option> <option value="Chad"> Chad </option> <option value="Chile"> Chile </option> <option value="China"> China </option> <option value="Christmas Island"> Christmas Island </option> <option value="Cocos (Keeling) Islands"> Cocos (Keeling) Islands </option> <option value="Colombia"> Colombia </option> <option value="Comoros"> Comoros </option> <option value="Congo"> Congo </option> <option value="Cook Islands"> Cook Islands </option> <option value="Costa Rica"> Costa Rica </option> <option value="Cote d&#x27;Ivoire"> Cote d&#x27;Ivoire </option> <option value="Croatia"> Croatia </option> <option value="Cuba"> Cuba </option> <option value="Cyprus"> Cyprus </option> <option value="Czech Republic"> Czech Republic </option> <option value="Democratic Republic of the Congo"> Democratic Republic of the Congo </option> <option value="Denmark"> Denmark </option> <option value="Djibouti"> Djibouti </option> <option value="Dominica"> Dominica </option> <option value="Dominican Republic"> Dominican Republic </option> <option value="Ecuador"> Ecuador </option> <option value="Egypt"> Egypt </option> <option value="El Salvador"> El Salvador </option> <option value="Equatorial Guinea"> Equatorial Guinea </option> <option value="Eritrea"> Eritrea </option> <option value="Estonia"> Estonia </option> <option value="Ethiopia"> Ethiopia </option> <option value="Falkland Islands"> Falkland Islands </option> <option value="Faroe Islands"> Faroe Islands </option> <option value="Fiji"> Fiji </option> <option value="Finland"> Finland </option> <option value="France"> France </option> <option value="French Polynesia"> French Polynesia </option> <option value="Gabon"> Gabon </option> <option value="The Gambia"> The Gambia </option> <option value="Georgia"> Georgia </option> <option value="Germany"> Germany </option> <option value="Ghana"> Ghana </option> <option value="Gibraltar"> Gibraltar </option> <option value="Greece"> Greece </option> <option value="Greenland"> Greenland </option> <option value="Grenada"> Grenada </option> <option value="Guadeloupe"> Guadeloupe </option> <option value="Guam"> Guam </option> <option value="Guatemala"> Guatemala </option> <option value="Guernsey"> Guernsey </option> <option value="Guinea"> Guinea </option> <option value="Guinea-Bissau"> Guinea-Bissau </option> <option value="Guyana"> Guyana </option> <option value="Haiti"> Haiti </option> <option value="Honduras"> Honduras </option> <option value="Hong Kong"> Hong Kong </option> <option value="Hungary"> Hungary </option> <option value="Iceland"> Iceland </option> <option value="India"> India </option> <option value="Indonesia"> Indonesia </option> <option value="Iran"> Iran </option> <option value="Iraq"> Iraq </option> <option value="Ireland"> Ireland </option> <option value="Israel"> Israel </option> <option value="Italy"> Italy </option> <option value="Jamaica"> Jamaica </option> <option value="Japan"> Japan </option> <option value="Jersey"> Jersey </option> <option value="Jordan"> Jordan </option> <option value="Kazakhstan"> Kazakhstan </option> <option value="Kenya"> Kenya </option> <option value="Kiribati"> Kiribati </option> <option value="North Korea"> North Korea </option> <option value="South Korea"> South Korea </option> <option value="Kosovo"> Kosovo </option> <option value="Kuwait"> Kuwait </option> <option value="Kyrgyzstan"> Kyrgyzstan </option> <option value="Laos"> Laos </option> <option value="Latvia"> Latvia </option> <option value="Lebanon"> Lebanon </option> <option value="Lesotho"> Lesotho </option> <option value="Liberia"> Liberia </option> <option value="Libya"> Libya </option> <option value="Liechtenstein"> Liechtenstein </option> <option value="Lithuania"> Lithuania </option> <option value="Luxembourg"> Luxembourg </option> <option value="Macau"> Macau </option> <option value="Macedonia"> Macedonia </option> <option value="Madagascar"> Madagascar </option> <option value="Malawi"> Malawi </option> <option value="Malaysia"> Malaysia </option> <option value="Maldives"> Maldives </option> <option value="Mali"> Mali </option> <option value="Malta"> Malta </option> <option value="Marshall Islands"> Marshall Islands </option> <option value="Martinique"> Martinique </option> <option value="Mauritania"> Mauritania </option> <option value="Mauritius"> Mauritius </option> <option value="Mayotte"> Mayotte </option> <option value="Mexico"> Mexico </option> <option value="Micronesia"> Micronesia </option> <option value="Moldova"> Moldova </option> <option value="Monaco"> Monaco </option> <option value="Mongolia"> Mongolia </option> <option value="Montenegro"> Montenegro </option> <option value="Montserrat"> Montserrat </option> <option value="Morocco"> Morocco </option> <option value="Mozambique"> Mozambique </option> <option value="Myanmar"> Myanmar </option> <option value="Nagorno-Karabakh"> Nagorno-Karabakh </option> <option value="Namibia"> Namibia </option> <option value="Nauru"> Nauru </option> <option value="Nepal"> Nepal </option> <option value="Netherlands"> Netherlands </option> <option value="Netherlands Antilles"> Netherlands Antilles </option> <option value="New Caledonia"> New Caledonia </option> <option value="New Zealand"> New Zealand </option> <option value="Nicaragua"> Nicaragua </option> <option value="Niger"> Niger </option> <option value="Nigeria"> Nigeria </option> <option value="Niue"> Niue </option> <option value="Norfolk Island"> Norfolk Island </option> <option value="Turkish Republic of Northern Cyprus"> Turkish Republic of Northern Cyprus </option> <option value="Northern Mariana"> Northern Mariana </option> <option value="Norway"> Norway </option> <option value="Oman"> Oman </option> <option value="Pakistan"> Pakistan </option> <option value="Palau"> Palau </option> <option value="Palestine"> Palestine </option> <option value="Panama"> Panama </option> <option value="Papua New Guinea"> Papua New Guinea </option> <option value="Paraguay"> Paraguay </option> <option value="Peru"> Peru </option> <option value="Philippines"> Philippines </option> <option value="Pitcairn Islands"> Pitcairn Islands </option> <option value="Poland"> Poland </option> <option value="Portugal"> Portugal </option> <option value="Puerto Rico"> Puerto Rico </option> <option value="Qatar"> Qatar </option> <option value="Republic of the Congo"> Republic of the Congo </option> <option value="Romania"> Romania </option> <option value="Russia"> Russia </option> <option value="Rwanda"> Rwanda </option> <option value="Saint Barthelemy"> Saint Barthelemy </option> <option value="Saint Helena"> Saint Helena </option> <option value="Saint Kitts and Nevis"> Saint Kitts and Nevis </option> <option value="Saint Lucia"> Saint Lucia </option> <option value="Saint Martin"> Saint Martin </option> <option value="Saint Pierre and Miquelon"> Saint Pierre and Miquelon </option> <option value="Saint Vincent and the Grenadines"> Saint Vincent and the Grenadines </option> <option value="Samoa"> Samoa </option> <option value="San Marino"> San Marino </option> <option value="Sao Tome and Principe"> Sao Tome and Principe </option> <option value="Saudi Arabia"> Saudi Arabia </option> <option value="Senegal"> Senegal </option> <option value="Serbia"> Serbia </option> <option value="Seychelles"> Seychelles </option> <option value="Sierra Leone"> Sierra Leone </option> <option value="Singapore"> Singapore </option> <option value="Slovakia"> Slovakia </option> <option value="Slovenia"> Slovenia </option> <option value="Solomon Islands"> Solomon Islands </option> <option value="Somalia"> Somalia </option> <option value="Somaliland"> Somaliland </option> <option value="South Africa"> South Africa </option> <option value="South Ossetia"> South Ossetia </option> <option value="South Sudan"> South Sudan </option> <option value="Spain"> Spain </option> <option value="Sri Lanka"> Sri Lanka </option> <option value="Sudan"> Sudan </option> <option value="Suriname"> Suriname </option> <option value="Svalbard"> Svalbard </option> <option value="eSwatini"> eSwatini </option> <option value="Sweden"> Sweden </option> <option value="Switzerland"> Switzerland </option> <option value="Syria"> Syria </option> <option value="Taiwan"> Taiwan </option> <option value="Tajikistan"> Tajikistan </option> <option value="Tanzania"> Tanzania </option> <option value="Thailand"> Thailand </option> <option value="Timor-Leste"> Timor-Leste </option> <option value="Togo"> Togo </option> <option value="Tokelau"> Tokelau </option> <option value="Tonga"> Tonga </option> <option value="Transnistria Pridnestrovie"> Transnistria Pridnestrovie </option> <option value="Trinidad and Tobago"> Trinidad and Tobago </option> <option value="Tristan da Cunha"> Tristan da Cunha </option> <option value="Tunisia"> Tunisia </option> <option value="Turkey"> Turkey </option> <option value="Turkmenistan"> Turkmenistan </option> <option value="Turks and Caicos Islands"> Turks and Caicos Islands </option> <option value="Tuvalu"> Tuvalu </option> <option value="Uganda"> Uganda </option> <option value="Ukraine"> Ukraine </option> <option value="United Arab Emirates"> United Arab Emirates </option> <option value="United Kingdom"> United Kingdom </option> <option value="Uruguay"> Uruguay </option> <option value="Uzbekistan"> Uzbekistan </option> <option value="Vanuatu"> Vanuatu </option> <option value="Vatican City"> Vatican City </option> <option value="Venezuela"> Venezuela </option> <option value="Vietnam"> Vietnam </option> <option value="British Virgin Islands"> British Virgin Islands </option> <option value="Isle of Man"> Isle of Man </option> <option value="US Virgin Islands"> US Virgin Islands </option> <option value="Wallis and Futuna"> Wallis and Futuna </option> <option value="Western Sahara"> Western Sahara </option> <option value="Yemen"> Yemen </option> <option value="Zambia"> Zambia </option> <option value="Zimbabwe"> Zimbabwe </option> <option value="other"> Other </option> </select> <label class="form-sub-label" for="input_4_country" id="sublabel_4_country" style="min-height:13px"> Country </label> </span> </td> </tr> </tbody> </table> </div> </li> <li class="form-line jf-required" data-type="control_phone" id="id_5"> <label class="form-label form-label-top form-label-auto" id="label_5" for="input_5_area"> Phone Number <span class="form-required"> * </span> </label> <div id="cid_5" class="form-input-wide jf-required"> <div data-wrapper-react="true"> <span class="form-sub-label-container" style="vertical-align:top"> <input type="tel" id="input_5_area" name="q5_phoneNumber5[area]" class="form-textbox validate[required]" size="6" value="" data-component="areaCode" required="" /> <span class="phone-separate"> - </span> <label class="form-sub-label" for="input_5_area" id="sublabel_area" style="min-height:13px"> Area Code </label> </span> <span class="form-sub-label-container" style="vertical-align:top"> <input type="tel" id="input_5_phone" name="q5_phoneNumber5[phone]" class="form-textbox validate[required]" size="12" value="" data-component="phone" required="" /> <label class="form-sub-label" for="input_5_phone" id="sublabel_phone" style="min-height:13px"> Phone Number </label> </span> </div> </div> </li> <li class="form-line jf-required" data-type="control_email" id="id_6"> <label class="form-label form-label-top form-label-auto" id="label_6" for="input_6"> E-mail <span class="form-required"> * </span> </label> <div id="cid_6" class="form-input-wide jf-required"> <input type="email" id="input_6" name="q6_email6" class="form-textbox validate[required, Email]" size="30" value="" placeholder="ex: myname@example.com" data-component="email" required="" /> </div> </li> <li class="form-line jf-required" data-type="control_textarea" id="id_7"> <label class="form-label form-label-top form-label-auto" id="label_7" for="input_7"> Please tell us what you would like to donate: <span class="form-required"> * </span> </label> <div id="cid_7" class="form-input-wide jf-required"> <textarea id="input_7" class="form-textarea validate[required]" name="q7_pleaseTell" cols="40" rows="6" data-component="textarea" required=""></textarea> </div> </li> <li class="form-line" data-type="control_text" id="id_8"> <div id="cid_8" class="form-input-wide"> <div id="text_8" class="form-html" data-component="text"> <p><span style="font-size:large;">Remember to check your email for responses!</span></p> </div> </div> </li> <li class="form-line" data-type="control_button" id="id_2"> <div id="cid_2" class="form-input-wide"> <div style="margin-left:156px" class="form-buttons-wrapper"> <button id="input_2" type="submit" class="form-submit-button" data-component="button"> Submit </button>
</form>
       </center>
   </div>
<script type="text/javascript">JotForm.ownerView=true;</script>
 {% if request.user.is_authenticated %}

      <div>
    {{ in }}
    {% endif %}
    </div>

</div>
  </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Prizren TechHeroes</p>
</footer>

</body>
</html>


