{% load static %}
{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'about' as about_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'products' as products %}

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>



     {% include 'base.html' %}

 <img src="{% static 'img/logo1.png' %}" height="100" width="120" align="left"/>
      {% if request.user.is_authenticated %}

      <div style="text-align: right;
    font-size: 20px;
    margin-right: 3%;
    font-weight: 600;">
    {{ in }}
    {% endif %}
    </div>
<div class="container">

    <div class='row'>

        <img src="{% static 'img/Home.jpg' %}" />
    </div>
     <p style="    text-align: justify;
    font-family: roboto;
    margin-left: -1%;">We rely on donations of new or good quality clean clothes, accessories and manchester to provide stock for our retail stores and overseas partners. The better quality the donation, the greater the impact. The more good quality products we collect, the wider our range of stock, reducing the waste sent to landfill and increasing the amount of funds we raise for our community programs.

We accept donations in a variety of ways:

Clothing donation bins located throughout NSW and the ACT - Simply drop your clean, wearable clothing items into a Smith Family labelled clothing bin near you.

Our retail stores also accept donations of good quality items. Please refer to our list of stores for what items each store stocks and can accept in donations.

From your home - Our transport fleet collect donations from houses in Sydney, the Central Coast, Wollongong and the Illawarra region, the Blue Mountains and Canberra in the ACT. To book a pickup from your home, call 1300 737 166 or complete an online collection request.

From wholesalers, distributors and retailers - We accept sample or out-of-season stock (clothing, accessories and manchester) from retailers. Complete an online enquiry or contact our team today on 1300 737 166 to find out how you can donate your products and ensure they don't go to landfill.

Clothing drives run by schools or businesses. Contact us on 1300 737 166 to find out how you can org  anise a clothing drive at your school or business.</p></div>
</div>

<div style="background: #d3d3d342;">
    <div class="container" style="padding-bottom:3%; padding-top:3%; ">
    <div style="    display: flex;
    justify-content: center;">
        <div class="col-md-3 cards">
        <div >
            <p style="text-align:center;     margin-top: 4%;">
                <img src="{% static 'img/download_2.jpg' %}" width="100%" alt="">
            </p>
            <div>
                <h3>Charles Dickens</h3></br>
                <span>
                    No one is useless in this world who lightens the burdens of another.
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 cards">
        <div >
            <div>
                <p style="text-align:center; margin-top: 4%;">
                <img src="{% static 'img/kid.jpg' %}" width="67%" alt="">
            </p>
                <h3>Barbara Bush</h3></br>
                <span>
                   Giving frees us from the familiar territory of our own needs by opening our mind to the unexplained worlds occupied by the needs of others.
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 cards">
        <div >
            <p style="text-align:center;margin-top: 4%;">
                <img src="{% static 'img/heart.png' %}" width="100%" alt="">
            </p>
            <div>
                <h3>Aristotle</h3></br>
                <span>
                    To give away money is an easy matter and in any man's power. But to decide to whom to give it, and how large and when, and for what purpose and how, is neither in every man's power nor an easy matter.
                </span>
            </div>
        </div>
    </div>
    </div>
</div>
</div>

    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Prizren TechHeroes</p>
</footer>

</body>
</html>
