<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Prizren Heroes</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">


           <li class="nav-item" {% if request.path == home_url %}active{% endif %}>
    <a class="nav-link active" href="{% url 'home' %}">Home</a>

  </li>
         <li class="nav-item" {% if request.path == about_url %}active{% endif %}>
    <a class="nav-link" href="{% url 'products' %}">Categoires</a>
  </li>

          <li class="nav-item" {% if request.path == about_url %}active{% endif %}>
    <a class="nav-link" href="{% url 'about' %}">About</a>
  </li>

            <li class="nav-item" {% if request.path == contact_url %}active{% endif %}>
    <a class="nav-link" href="{{ contact_url }}">Contact</a>
  </li>
  <li class="nav-item" {% if request.path == donate.html %}active{% endif %}>
    <a class="nav-link" href="{% url 'donate' %}">Donate</a>
  </li>



      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
    <li class="nav-item" {% if request.path == login_url %}active{% endif %}>
        <a href="{{ login_url }}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            {% else %}
           <li class="nav-item"{% if request.path == register_url %}active{% endif %}>
            <a href="{{ register_url }}"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>

              <li class="nav-item" {% if request.path == login_url %}active{% endif %}>
            <a href="{{ login_url }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

{% endif %}
      </ul>
    </div>
  </div>
</nav>

</body>
</html>
