{% load static %}
{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'about' as about_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'products' as products %}
{% url 'take' as take_url %}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>



     {% include 'base.html' %}



<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div style="    display: flex;
    height: 735px;
    align-items: center;">
            <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Name and Surname</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Email</label>
      <input type="email" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">

  </div>
  <button type="submit" class="btn btn-primary" ><a style="color:white;" href="{% url 'home' %}">Submit</a> </button>
</form>
    </div>
    </div>
      </div>
    <div class="col-md-3"></div>
</div>








    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Prizren TechHeroes</p>
</footer>

</body>
</html>
