<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }

        /*STYLEEEE*/
*{
font-family:roboto;}
        .text-onIMG{
        font-size: 118px;
        padding: 16%;
        text-align: center;
        position: relative;
        font-weight: 600;
        color: white;
        margin-top:0;
        opacity:1;
    }
    .inputs>input{
        height:50px;
        opacity:0.8;
        width:100%;
        background: transparent;
        border: none;
        border-bottom: 1.5px solid white;
        margin-bottom:2%;

    }
     .cards{
    background:white;
    margin:2%;
    height: 390px;
   box-shadow: 7px 8px 9px rgba(0,0,0,0.1);
    }
    .button-submit{
    background-color:#173761;
    padding:10px 25px;
    color:white;
    border-radius:15px;
    cursor:pointer;

    }

    .jotform-form{
    padding:0 !important;
    }
    .button-position{
    display:flex;
    justify-content:flex-end;
    }
     .button-position-center{
    display:flex;
    justify-content:center;
    margin-top:2%;
    margin-bottom:5%;
    }
    .center{

        display: flex;
        align-items: center;
        justify-content: center;}
        .inputs>input::placeholder{
        color:white;
    }

    .input-from-box{
        box-shadow: 9px 9px 2px rgba(0,0,0,0.1);
        width: 100%;
        padding:8%;
        margin:3%;
        background-color:#ADB5BD;
    }
  </style>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Prizren Heroes</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">