
<ul class="nav">
  <li class="nav-item">{% if request.path == home %} {% endif %}
    <a class="nav-link active" href="{% url 'home' %}">Home</a>
  </li>
     </li>
    <li class="nav-item">{% if request.path == about %} {% endif %}
    <a class="nav-link" href="{% url 'about' %}">About</a>
  </li>
  <li class="nav-item">{% if request.path == contact %} {% endif %}
    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
  </li>
  <li class="nav-item">{% if request.path == product %} {% endif %}
    <a class="nav-link" href="{% url 'product' %}">Product</a>
  </li>
    {% if request.user.is_authenticated %}
    <li class="nav-item">{% if request.path == login_page %} {% endif %}
    <a class="nav-link" href="{% url 'login_page' %}">Logout</a>
         {% else %}
  </li>
    <li class="nav-item">{% if request.path == register %} {% endif %}
    <a class="nav-link" href="{% url 'register' %}">Register</a>

  </li>
    </li>
    <li class="nav-item">{% if request.path == login_page %} {% endif %}
    <a class="nav-link" href="{% url 'login_page' %}">Login</a>
  </li>
    {%endif%}
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
